.veiculo-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  min-height: 90vh;
}

.veiculo-card {
  width: 100%;
  max-width: 450px;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 1.5rem;
  pointer-events: auto;
}

.form-header {
  text-align: center;
  margin-bottom: 2rem;
}

.form-header h2 {
  font-family: 'Baloo 2', cursive;
  font-size: 2.5rem;
  font-weight: normal;
  color: #111111;
  margin-top: 0.5rem;
}

.form-control {
  border: 1px solid #D1D1D1;
  border-radius: 2rem;
  padding: 0.75rem 1.85rem;
  height: 50px;
  font-size: 14px;
}

.form-control::placeholder {
  color: #A5A5A5;
  opacity: 1;
}

.form-control:focus {
  border-color: #FEBE01;
  box-shadow: 0 0 0 0.25rem rgba(254, 190, 1, 0.25);
}

.btn-primary, .btn-secondary {
  font-size: 1.1rem;
  padding: 0.75rem;
  font-family: 'Baloo 2', cursive;
  font-weight: 600;
  border-radius: 2rem;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.btn-primary {
  background-color: #FEBE01;
  border-color: #FEBE01;
  color: #000000;
}

.btn-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(254, 190, 1, 0.4);
}

.btn-secondary {
  background-color: #DD1129;
  border-color: #DD1129;
  color: #ffffff;
}

.btn-secondary:hover {
  background-color: #c82333;
  border-color: #bd2130;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
