<div class="horario-form-container">
  <div class="horario-form-card">
    <div class="form-header">
      <img src="assets/images/logo (1).png" alt="Logo BeeBee" class="logo-img">
      <h2>{{ isEditMode ? 'Editar Disciplina' : 'Nova Disciplina' }}</h2>
    </div>

    <form (ngSubmit)="salvar()" #form="ngForm" novalidate>
      <div class="form-group">
        <input id="descricao" name="descricao" type="text" [(ngModel)]="horario.descricao" class="form-control" required placeholder="Ex: Cálculo I" #descricao="ngModel"/>
        <div class="text-danger" *ngIf="descricao.invalid && descricao.touched">
          Descrição é obrigatória *
        </div>
      </div>

      <div class="form-group">
        <select id="dia" name="dia" [(ngModel)]="horario.dia" class="form-select" required #dia="ngModel">
          <option value="" disabled selected>Selecione o dia</option>
          <option value="SEGUNDA">Segunda-feira</option>
          <option value="TERCA">Terça-feira</option>
          <option value="QUARTA">Quarta-feira</option>
          <option value="QUINTA">Quinta-feira</option>
          <option value="SEXTA">Sexta-feira</option>
          <option value="SABADO">Sábado</option>
        </select>
        <div class="error-msg" *ngIf="dia.invalid && dia.touched">
          Selecione o dia da semana.
        </div>
      </div>

      <div class="form-group">
        <input id="horario" name="horario" type="time" [(ngModel)]="horario.horario" class="form-control" required #horarioModel="ngModel"/>
        <div class="text-danger" *ngIf="horarioModel.invalid && horarioModel.touched">
          Informe o horário *
        </div>
      </div>

      <div class="form-group">
        <input id="situacao" name="situacao" type="text" [(ngModel)]="horario.situacao" class="form-control" placeholder="Ex: Ativa, Trancada, Cancelada"/>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
          {{ isEditMode ? 'Atualizar' : 'Salvar' }}
        </button>
        <a routerLink="/app/horarios" class="btn btn-cancelar">Cancelar</a>
      </div>
    </form>
  </div>
</div>
