.bees-container {
  display: flex;
  gap: 2px;
}

.bee-icon {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/assets/icons/Crown.png');
}

.bee-icon.filled {
  background-image: url('/assets/icons/big-star-fill.png');
}
