.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
}
.login-card {
  width: 100%;
  max-width: 450px;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 1.5rem;
}
h2 {
  font-family: 'Baloo 2', cursive;
  font-size: 2rem;
  font-weight: regular;
  color: #111111;
  margin-top: 1rem;
}
.login-logo {
  max-width: 250px;
  height: auto;
}

.form-field {
  position: relative;
}
.form-icon {
  position: absolute;
  left: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  opacity: 0.6;
}
.form-control {
  border: 1px solid #D1D1D1;
  border-radius: 2rem;
  padding: 0.75rem 1.85rem 0.75rem 3.5rem;
  height: 50px;
  font-size: 14px;
}
.form-control::placeholder {
  color: #A5A5A5;
  opacity: 1;
}
.form-control:focus {
  border-color: #FEBE01;
  box-shadow: 0 0 0 0.25rem rgba(254, 190, 1, 0.25);
}

.btn-primary {
  background-color: #FEBE01;
  border-color: #FEBE01;
  color: #000000;
  font-weight: 600;
  font-family: 'Baloo 2', cursive;
  padding: 0.75rem;
  border-radius: 2rem;
  transition: all 0.2s ease-in-out;
}
.btn-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(254, 190, 1, 0.4);
}

.register-link {
  color: #2C302E;
  font-size: 0.9rem;
}
.register-link a {
  color: #FEBE01;
  text-decoration: none;
  font-weight: bold;
}

.text-danger {
  text-align: center;
  display: block;
}
.form-field + .text-danger {
    margin-top: -0.75rem;
    margin-bottom: 1rem;
}
